// ===============================
// VARIABLES
// ===============================

$primary-gradient: linear-gradient(90deg, #9300b6, #70008b);
$secondary-gradient: linear-gradient(180deg, #9300b6, #70008b);

$primary-color: #9300b6;
$secondary-color: #70008b;

$white: #fff;
$text-color: #333;
$placeholder-color: #888;
$bg-color: #e8d9ff;
$input-bg: #f2f2f2;

$shadow: 0 0 30px rgba(0, 0, 0, 0.2);
$btn-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

$transition-main: 0.6s ease-in-out;
$transition-toggle: 1.8s ease-in-out;